{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/extensions": 0,
    "react/function-component-definition": [
      "error",
      {
        namedComponents: "function-declaration",
        unnamedComponents: "function-expression",
      },
    ],
  }
}
